<ngx-spinner  bdColor="rgba(0, 0, 0, 1)">
  <img src='https://cdn.themis-media.com/media/global/images/library/deriv/1291/1291107.gif' />"
</ngx-spinner>
<form class="box">


  
 
 
     
    
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <div id="div_button_dashbords" class="w3-sidebar w3-bar-block w3-black w3-xxlarge">
          <a routerLink="/dhasbord_linechart"  class="w3-bar-item w3-button" ><i class="fa fa-line-chart" aria-hidden="true"></i></a> 
          <a routerLink="/dhasbord_piechart" class="w3-bar-item w3-button"><i class="fa fa-pie-chart" aria-hidden="true"></i></a> 
          <a routerLink="/dhasbord_barchart" class="w3-bar-item w3-button"><i class="fa fa-bar-chart" aria-hidden="true" ></i></a> 
          <a routerLink="/createmdx" class="w3-bar-item w3-button"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
         
        </div>
    <div  id="div_table">
        <table   class="table table-bordered border-primary"  id="table">
     <tbody></tbody>
      </table> 
    </div>
      
        
        
   

</form>




