.box {
    position: fixed;
    top: 31%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 32cm;
    height: 18cm;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0.625rem;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 11.3%;
    padding-top: 15px;
   
}
.box2 {
    position: fixed;
    top: 36%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 32cm;
    height: 19cm;
    padding: 2.5rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0);
    border-radius: 0.625rem;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 35%;
    padding-top: 15px;
    
   
}
#button1{
    margin-left: 20px;
    width: 150px;
    margin-top: 280px;
    position: fixed;
}

button {
    position: fixed;
    margin-top: 100px;
    width: 150px;


    
}

#bouton2 {
width: 150px;
    margin-left: 950px;
    margin-top: 280px;
}

#label_measure{
    position: fixed;
     margin-left: 180px;
     
}

#select_measure{
    position: fixed;
     margin-left: 80px;
     width:200px;
     overflow: auto;
     border-radius: 5px;
    
    
}

#label_dimension{
     position: fixed; margin-left: 945px;
}

#select_dimension{
    margin-left: 850px; margin-right: 100px; position: fixed;
    width:200px;
  overflow: auto;
  border-radius: 5px;
 
}

#div_group_button_measure{
position: fixed;
    width: 100px; margin-left: 95px; margin-top: 110px;
}

#div_group_button_dimension{
    
    width: 100px; margin-left: 890px; margin-top: 115px; 
}


#label_filtred{
    margin-top: 70px; position: fixed; margin-left: 500px;
}

#select_filter{
    position: fixed;margin-top: 100px; margin-left: 473px; overflow: auto;
}

#label_columns_measure{
    position: fixed; margin-top: 20px; margin-left: 90px;
}

#select_colummns_measure{
    position:fixed ; margin-top: 50px; overflow: auto; margin-left: 95px;
}

#label_rows_measure{
    position: fixed; margin-top: 170px; margin-left: 100px;
}

#select_rows_measure{
    position: fixed;margin-top: 200px; overflow: auto; margin-left: 95px;
}

#label_columns_dimention{
    position: fixed;margin-left: 865px; margin-top: 20px;
}

#select_rows_dimention{
    position: fixed; margin-left: 880px; margin-top: 50px; overflow: auto;
}

#label_rows_dimention{
    position: fixed; margin-left: 878px; margin-top: 170px;
}

#select_colummns_dimention{
    margin-left: 880px;margin-top: 200px; position: fixed; overflow: auto;
}

#input_condition{
    position: fixed; margin-top: 185px; margin-left: 473px; width: 150px;
}

#label_filtred_with{
    position: fixed ; margin-top: 275px; margin-left: 485px;
}

#group_button_filtred{
    width: 150px; position: fixed; margin-left: 345px; margin-top: 200px;
}

#button_info{
    width: 80px; position: fixed; margin-left: 490px; border-radius: 20px; margin-top: 200px; position: fixed;
}






#label_column{
    margin-top: 325px; margin-left: 540px;
}

#label_row{

    margin-top: 325px; margin-left: 285px;
}

#f1{
    background-color: rgb(255, 32, 32);
}

#r1{
    background-color: #f02c2c; 
}

#c1{
    background-color: #ed4848;
}



select {
    width: 150px;
}

i {
    margin-right: 15px;
}

div {
    margin-top: 40px;
    width: 100%;
}

label {
    color: white;
}

hr {
  
    color: white;
    margin-top: 30px;
}




