<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<nav id="nav" class=" navbar navbar-expand-lg navbar-light bg-dark ">
    <img #acces_logo style="width: 105px; margin-right: 1300px;" src="assets/2.png">
    
    <div class="container-fluid ">
        <div ngbDropdown class="collapse navbar-collapse " id="navbarScroll ">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ">

                <li class="nav-item dropdown ">
                    <a id="color_name_acteol" ngbDropdownToggle class="nav-link dropdown-toggle " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
                        Acteol
                    </a>
                    <ul ngbDropdownMenu id="color_drop-down_menu" class="dropdown-menu " aria-labelledby="navbarScrollingDropdown ">
                        <li>
                            <a ngbDropdownItem class="dropdown-item " routerLink="">Logout</a>
                        </li>

                        
                   
                       

                    </ul>
                </li>
            </ul>

        </div>
    </div> 
</nav>